/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background: url('https://t3.ftcdn.net/jpg/04/34/82/70/360_F_434827021_Es0jUoe8ZIiL9Wh7tSSO5BUK4a6QZk3e.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
}

/* Side Navigation Styling */
.nav {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute; /* Position it absolutely to manage its visibility */
    left: 0; /* Align it to the left */
    top: 0; /* Align to the top */
    height: 100vh; /* Full height */
    transform: translateX(-100%); /* Start off
